* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 0px;
    font-family: 'Cuprum', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Cuprum');
.container {
    width: 1000px;
    min-height: 800px;
    margin: 0px auto;
    outline: solid darkgrey 1px;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: center;
}

.dws-menu > ul li a {
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dws-menu > ul li {
    position: relative;

}

.dws-menu > ul li > a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.dws-menu li a:hover {
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    font-family: 'Cuprum', sans-serif;
}

.dws-menu li > ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 135px;
    display: none;

}

.dws-menu li > ul li {
    border: 1px solid #c7c8ca;
}

.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;

}

.nav-side ul {
    list-style-type: none;
}

.nav-side ul li {
    margin-top: 20px;

}

.nav-side {
    display: block;
    margin: 250px 0px;
    width: 500px;
    min-height: 500px;
    background-color: #ececed;
    position: absolute;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    left: -2000px;
    z-index: 2;

    right: 3000px;
}

#tab2, #tab3, #tab4 {
    display: none;
}

.tab_left {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.tab_left li {
    border-bottom: solid black 1px;
    flex-direction: column;
    flex-flow: row;
    padding: 10px;
    align-items: center;
}

.tab_left li a {
    color: #454547;
}

.tab {
    width: 350px;
    max-width: 330px;
    padding: 10px;
    margin: auto;
    position: absolute;
}

.tab p {
    max-width: 340px;
    padding: 10px;
}

.tab_main {
    position: relative;
    min-height: 200px;
}

p {
    white-space: normal;
    overflow-x: hidden;
    word-wrap: break-word;
}

.pull_tab {
    z-index: 2;
    top: 420px;
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid green;
}

.list_new {
    height: 200px;
    width: 100px;
    overflow: hidden;
}

.list_new > [data-scroll] {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, .05);
    -webkit-user-select: none;
}

.list_new > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-height: calc(100% - 76px);
    overflow: auto;
}

.list_new > ul > li {
    padding: 10px;
}

.h1_container1_container{
    margin: 50px auto;
    padding-left: 100px;
    width: 500px;
    font-size: 40px;
}
ul{
    margin-top: 30px;
}
ul>li{
    padding: 5px;
}
.cart{
    margin-top: 50px;
    width: 50px;
    background-color: burlywood;
}
.cart p{
    width: 50px;
    height: auto;
}
.goods{
    margin-left: 100px;
}
.hello{
    margin: 50px;
    height: 50px;
    width:100px;
    background-color: cadetblue;
}
.goodsGallery{
    /*display:flex;*/
    /*flex-flow: row;*/
    /*flex-direction: row;*/
    width: 700px;;
}
.good{
    /*align-items: stretch;*/
    background-color:  burlywood;
    padding: 10px;
    outline: solid 1px black;

}
.carts{
    margin: 50px auto 10px;
    /*display: flex;*/
    background-color: orange;
    min-height: 200px;
   width: 500px;
    flex-shrink: 1;
}

.frame{
    width:1000px;
    height: 300px;
}


#MainAccordion{
    width: 200px;height: 200px;
    background-color: burlywood;
}


.money{
    margin: 0px auto;
    font-size: 50px;
    width: 150px;
    height: 50px;
    padding: 5px;
    color: black;
    background-color: aliceblue;
}
#dialog{
    display:none;
}
.ui-dialog-titlebar-close{
    display: none;
}
#buy {
    position: absolute;

    top: 70px;
    right: 2%;
}
.buying{
    position: relative;
}